.forms {
  margin-top: 51px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.forms__container {
  padding: 30px;
  width: 100%;
  max-width: 400px;
}

@media (max-width: 874px) {
  .forms__container {
    width: auto;
  }
}

.forms__body {
}

label {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #333333;
  display: block;
}

::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #9c9c9c;
  padding: 18px 256px 18px 32px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 874px) {
  .form {
    align-items: center;
  }
}

#name {
  background: #ffffff;
  width: 413px;
  height: 62px;
  border: 1px solid #9c9c9c;
  margin-top: 10px;
}

@media (max-width: 430px) {
  #name {
    width: 300px;
  }
}

#lastName {
  background: #ffffff;
  width: 413px;
  height: 62px;
  border: 1px solid #9c9c9c;
  margin-top: 10px;
}

@media (max-width: 430px) {
  #lastName {
    width: 300px;
  }
}

#message {
  width: 839px;
  height: 178px;
  border: 1px solid #9c9c9c;
  background: #ffffff;
  margin-top: 10px;
}

@media (max-width: 874px) {
  #message {
    width: 413px;
  }
}

@media (max-width: 430px) {
  #message {
    width: 300px;
  }
}

#bnt__contact {
  margin-top: 40px;
}

.menu_buttons-contacts {
  display: flex;
}

.menu__btn-contact {
  padding: 14px 56px;
  font-weight: 500;
  font-size: 14px;
  line-height: 90%;
  color: #ffffff;
  border: 1px solid #3c3c3c;
  background-color: #2c3878;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}

.form__email {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

#email {
  width: 840px;
  height: 62px;
  border: 1px solid #9c9c9c;
  background: #ffffff;
  margin-top: 10px;
}

@media (max-width: 874px) {
  #email {
    width: 413px;
  }
}

@media (max-width: 430px) {
  #email {
    width: 300px;
  }
}

#phoneNumber {
  width: 840px;
  height: 62px;
  border: 1px solid #9c9c9c;
  background: #ffffff;
  margin-top: 10px;
}

@media (max-width: 874px) {
  #phoneNumber {
    width: 413px;
  }
}

@media (max-width: 430px) {
  #phoneNumber {
    width: 300px;
  }
}

.form__name {
  display: flex;
  flex-direction: column;
  margin-right: 14px;
}

@media (max-width: 874px) {
  .form__name {
    margin: 0px 0px 20px 0px;
  }
}

.form__Lastname {
  display: flex;
  flex-direction: column;
}

.surname {
  display: flex;
}

@media (max-width: 874px) {
  .surname {
    display: flex;
    flex-direction: column;
  }
}

.form__email {
}

.form__phoneN {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.form__message {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.location {
  margin-top: 100px;
}
.location__container {
}

.location__body {
}
.location__stor {
  display: flex;
  margin-top: 32px;
}

@media (max-width: 740px) {
  .location__stor {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

.location__contacts {
  display: flex;
  flex-direction: column;
}

.location_block {
  display: flex;
  flex-direction: column;
}

.location_block-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  color: #333333;
}
.location_block-subtitile {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #9c9c9c;
}

.location__header {
}
.location__title {
  font-weight: 600;
  font-size: 36px;
  line-height: 170%;
  color: #333333;
  width: 279px;
}
.location__subtitle {
  margin-top: 24px;
}
.location__email {
  margin-top: 39px;
}
.location__emeil-title {
}
.location__email-subtitle {
  margin-top: 10px;
}
.location__phone {
  margin-top: 33px;
}

.location__subtitle-phone {
  margin-top: 10px;
}

.location__phone-title {
}
.location__contry {
  display: flex;
  flex-wrap: wrap;
  margin-left: 193px;
}

@media (max-width: 1194px) {
  .location__contry {
    margin-left: 380px;
  }
}

@media (max-width: 1038px) {
  .location__contry {
    margin-left: 180px;
  }
}

@media (max-width: 740px) {
  .location__contry {
    margin-left: 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.location__jacart {
}
.location__jacart-title {
}
.location__jacart-subtitle {
  margin-top: 30px;
  max-width: 334px;
  max-height: 116px;
}
.location__surakarta {
  margin-left: 60px;
}
.location__surakarta-title {
}
.location__surakarta-subtitle {
  margin-top: 30px;
  max-width: 334px;
  max-height: 116px;
}
.location__yogyakarta {
  margin-top: 41px;
}
.location__yogyakarta-title {
}
.location__yogyakarta-subtitle {
  margin-top: 30px;
  max-width: 334px;
  max-height: 116px;
}
.location__bandung {
  margin-top: 41px;
  margin-left: 60px;
}
.location__bandung-title {
}
.location__bandung-subtitle {
  margin-top: 30px;
  max-width: 334px;
  max-height: 116px;
}

@media (max-width: 1228px) {
  .location_block {
    margin: 0px 0px 30px 10px;
  }
}

@media (max-width: 989px) {
  .location_block {
    margin: 0px 0px 90px 0px;
  }
}

@media (max-width: 740px) {
  .location_block {
    margin: 0px 0px 70px 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
