/* ------ srvice ----------- */

.services-page3 {
  margin-top: 191px;
}

@media (max-width: 767.98px) {
  .services-page3 {
    margin-top: 141px;
  }
}

.services-page3__container {
}

.services-page3__body {
}
.services-page3__block1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.services-page3__title {
  font-weight: 700;
  font-size: 56px;
  line-height: 140%;
  color: #000000;
}

@media (max-width: 767.98px) {
  .services-page3__title {
    font-size: 40px;
  }
}

.services-page3__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #000000;
  margin-top: 36px;
  max-width: 518px;
  text-align: center;
}

@media (max-width: 767.98px) {
  .services-page3__subtitle {
    font-size: 16px;
  }
}
.services-page3__img {
  margin-top: 57px;
}
._ibg {
}

.achivement-page3 {
  margin-top: 100px;
}
.achivement-page3__container {
}

.achivement-page3__body {
}
.achivement-page3__card {
  margin-top: 52px;
}

.achivement-page3__card_item {
  display: flex;
}

@media (max-width: 1124px) {
  .achivement-page3__card_item {
    flex-wrap: wrap;
  }
}

.achivement-page3__card_item:not(:last-child) {
  margin-bottom: 40px;
}

.card__img {
}
.card__decrip {
  margin-top: 97px;
  display: flex;
  flex-direction: column;
  margin-left: 120px;
}
.card__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  color: #333333;
}
.card__subtitle {
  margin-top: 20px;
  flex-wrap: 400;
  font-size: 18px;
  line-height: 160%;
  color: #9c9c9c;
}
